@charset "UTF-8";

	/* PHONE GENERAL */
	
	/* screen.width <= 480 */
	@media screen and (max-width:480px)
	{
		body, html
		{
			overflow: hidden;
		}
		
		/* ---------------------------------------------------- START SCREEN */
		
		#START header
		{
			margin: 30px auto 50px auto;
		}
		
		/* ---------------------------------------------------- START SCREEN */
		
		
		
		/* ---------------------------------------------------- INTRO PART 2 */
		
		#worldEdge-top
		{
			/* margin: 280px auto 0 auto; */
			top: 280px;
		}		
		
		#worldEdge-btm
		{
			/* margin: 292px auto 0 auto; */
			top: 292px
		}
		
		#into-part-2-wallBreaks
		{
			visibility: hidden;
		}
		
		/* ---------------------------------------------------- INTRO PART 2 */
		
		/* ---------------------------------------------------- NOTICE */
		
		.noticeWrapper
		{
			height: 317px;
		}
		
		.notice-player-wrapper
		{
			margin: 0 auto 6.25% auto;
		}
		
		.noticeRaccoon
		{
			margin: 0 auto 6.25% auto;
		}
		
		/* ---------------------------------------------------- NOTICE */
		
	}