@charset "UTF-8";

/* GFX-FIX */

/* GENERAL */

/* VECTOR */

/* 1 PIXEL DEPTH */

/* 2 PIXEL DEPTH */



	
/* ----------------------------------------------------------------------- GFX-FIX */	
	
	.tweenFlickerFix div
	{
		-webkit-backface-visibility	: hidden;
		backface-visibility			: hidden;		
	}
	
	.animationHelper
	{
		-webkit-transform: translateZ(0);
		transform: translateZ(0);		
	}
	
/* ----------------------------------------------------------------------- GFX-FIX */




/* ----------------------------------------------------------------------- GENERAL */

	.pixels_landDecay
	{
		background-image: url(../_img/landPixelDecay_1x.png);
		background-repeat: no-repeat;
		background-size: 1200px 800px;
	}
	
	.pixels_woodlandBottom
	{
		background-image: url(../_img/bottomEnd_1x.png);
		background-repeat: repeat-x;
		background-position: center top;
		background-size: 240px 160px;
	}
	
	.pixels_forestMass
	{
		background-image: url(../_img/tile_pineTreesMass_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;		
	}
	
	.pixels_portal
	{
		background-image: url(../_img/portalSprite_1x.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 80px 320px;
	}
	
	.pixels_forest
	{
		background-image: url(../_img/tile_pineTrees_1x.png);
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerLight
	{
		background-image: url(../_img/tile_flowersLight_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerHeavy
	{
		background-image: url(../_img/tile_flowersHeavy_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
/*
	.pixels_flowerRichCross
	{
		background-image: url(../_img/tile_flowersRich_+_1x.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 120px 120px;
	}
*/

	.pixels_rain0
	{
		background-image: url(../_img/rain_0_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;
	}
	
	.pixels_rain1
	{
		background-image: url(../_img/rain_1_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_rain2
	{
		background-image: url(../_img/rain_2_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_snow0
	{
		background-image: url(../_img/snow_0_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;
	}
	
	.pixels_snow1
	{
		background-image: url(../_img/snow_1_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_snow2
	{
		background-image: url(../_img/snow_2_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_wind0
	{
		background-image: url(../_img/wind_0_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;
	}
	
	.pixels_wind1
	{
		background-image: url(../_img/wind_1_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_wind2
	{
		background-image: url(../_img/wind_2_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_start
	{
		background-image: url(../_img/startSprite_1x.png);
		background-repeat: no-repeat;
		background-size: 240px 203px;
	}
	
/*
	.pixels_colour-navPink
	{
		background-image: url(../_img/col_nav-pink_1x.png);
		background-repeat: repeat;
		background-size: 100px 100px;
	}
*/
	
	.pixels_map_player
	{
		background-image: url(../_img/map_playerSprite_1x.png);
		background-repeat: no-repeat;
		/* background-position: 0 0; */
		background-size: 320px 120px;
	}
	
/*
	.pixels_battleFlow
	{
		background-image: url(../_img/battleNavSprite_1x.png);
		background-repeat: no-repeat;
		background-size: 371px 400px;				
	}
*/
	
	
	.pixels_map_enemy40x40
	{
		background-image: url(../_img/map_enemySprite40x40_1x.png);
		background-repeat: no-repeat;
		/* background-size: 320px 240px; */
		background-size: 320px 360px;		
	}
	
	.pixels_portalScreen
	{
		background-image: url(../_img/tilePortalScreenLRG_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 400px 320px;
	}
	
	.pixels_battleCloud
	{
		background-image: url(../_img/battleNavCloud_1x.png);
		background-repeat: repeat-x;
		background-position: center top;				
		background-size: 72px 211px;
	}
	
/*
	.pixels_battleFlow
	{
		background-image: url(../_img/battleNavSprite_1x.png);
		background-repeat: no-repeat;
		background-size: 371px 400px;				
	}
*/
	
	.pixels_warCrabs
	{
		background-image: url(../_img/tile_microBattle_bg_1x.png);
		background-repeat: repeat;
		background-position: left top;
		background-size: 120px 120px;
	}
	
	.pixels_warCrabsAlt
	{
		background-image: url(../_img/tile_microBattle_Alt_bg_1x.png);
		background-repeat: repeat;
		background-position: left top;
		background-size: 120px 120px;
	}
	
	.pixels_fire
	{
		background-image: url(../_img/flameSprite_1x.png);
		background-repeat: no-repeat;
		background-size: 120px 40px;
	}
	
	.pixels_emptyDecay
	{
		background-image: url(../_img/microBattle_landPixelDecay_1x.png);
		background-repeat: no-repeat;
		background-size: 1200px 800px;
	}
	
	.pixels_emptyBottom
	{
		background-image: url(../_img/microBattle_bottomEnd_1x.png);
		background-repeat: repeat-x;
		background-position: center top;
		background-size: 240px 160px;
	}
	
	.pixels_tileNeonGrass
	{
		background-image: url(../_img/tile_neonGrass_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 80px 80px;
	}
	
	.pixels_boss
	{
		background-image: url(../_img/bossSprite_1x.png);
		background-repeat: no-repeat;
		background-size: 361px 216px;
	}
	
	.pixels_rainRed0
	{
		background-image: url(../_img/rainRed_0_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;
	}
	
	.pixels_rainRed1
	{
		background-image: url(../_img/rainRed_1_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_rainRed2
	{
		background-image: url(../_img/rainRed_2_1x.png);
		background-position: center top;
		background-repeat: repeat;
		background-size: 320px 320px;		
	}
	
	.pixels_spaceStars_0
	{
		background-image: url(../_img/spaceStars_0_x1.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;
	}
	
	.pixels_spaceStars_1
	{
		background-image: url(../_img/spaceStars_1_x1.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;
	}
	
	.pixels_planetMask
	{
		-webkit-mask			: url(../_img/planetSprite_1x.png);
		-webkit-mask-size		: 280px 840px;
		-webkit-mask-position	: 0 0;
		-webkit-mask-repeat		: no-repeat; 
		
		mask					: url(../_img/planetSprite_1x.png);
		mask-size				: 280px 840px;
		mask-position			: 0 0;
		mask-repeat				: no-repeat;
	}
	
	.pixels_planetDisplay
	{
		background-image: url(../_img/planetSprite_1x.png);
		background-size: 280px 840px;
	}
	
	.pixels_microBattleFloor
	{
		background-image: url(../_img/battleLevelFloor_1x.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 800px 560px;
	}
	
	.pixels_spaceSquid
	{
		background-image: url(../_img/spaceSquid_1x.png);
		background-repeat: no-repeat;
		background-size: 160px 240px; 
	}
	
/*
	.pixels_battleCrowd_sky
	{
		background-image: url(../_img/battleSky_1x.png);
		
		background-size: 534px 360px;
	}
*/
	
/*
	.pixels_battleCrowd_goats
	{
		background-image: url(../_img/battleCrowdTile_goats_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 80px 80px;
	}
*/
	
/*
	.pixels_battleCrowd_rabbits
	{
		background-image: url(../_img/battleCrowdTile_rabbits_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 80px 80px;
	}
*/
	
	.pixels_battleEnd
	{
		background-image: url(../_img/battleEnd_1x.png);
		background-repeat: no-repeat;
		background-size: 534px 400px;
	}
	
	.pixels_forestMassDark
	{
		background-image: url(../_img/tile_pineTreesMassDark_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;		
	}
	
	.pixels_forestDark
	{
		background-image: url(../_img/tile_pineTreesDark_1x.png);
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerLightDark
	{
		background-image: url(../_img/tile_flowersLightDark_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerHeavyDark
	{
		background-image: url(../_img/tile_flowersHeavyDark_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_battleNav-player
	{
		background-image: url(../_img/battleCuteFull_1x.png);
		background-repeat: no-repeat;
		background-size: 371px 390px;
	}
	
	.pixels_levelClearing
	{
		background-image: url(../_img/levelClearing_1x.png);
		background-repeat: no-repeat;
		background-size: 400px 400px;
	}	

/* ----------------------------------------------------------------------- GENERAL */




/* ----------------------------------------------------------------------- VECTOR */

	.vectors_battleNav
	{
		background: url(../_img/battleNavOptions.svg) no-repeat left top;
		/* background-size: 180px 270px; */
	}
	
	.vectors_battleHint
	{
		background: url(../_img/battleNavHint.svg) no-repeat left top;
		/* background-size: 270px 60px; */
	}
	
	.vectors_touch-ui
	{
		background-image: url(../_img/touch-ui_cross.svg);
		background-repeat: no-repeat;
		/* background-size: 160px 160px; */
	}
	
	.vectors_touch-mini
	{
		background-image: url(../_img/touch-ui_cross_min.svg);
		background-repeat: no-repeat;
		/* background-size: 40px 40px; */
	}
	
	.vectors_clash_cloud
	{
		background-image: url(../_img/clash_cloud.svg);
		background-repeat: no-repeat;
		/* background-size: 240px 120px; */
	}
	
	.vectors_superPunchShock
	{
		background-image: url(../_img/puchSmashShock.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}	

/* ----------------------------------------------------------------------- VECTOR */




/* ----------------------------------------------------------------------- 1 PIXEL DEPTH */

	@media all and (-webkit-min-device-pixel-ratio: 1), all and (min-device-pixel-ratio: 1)
	{
		.pixels_landDecay
		{
			background-image: url(../_img/landPixelDecay_1x.png);
		}
		
		.pixels_woodlandBottom
		{
			background-image: url(../_img/bottomEnd_1x.png);
		}
		
		.pixels_forestMass
		{
			background-image: url(../_img/tile_pineTreesMass_1x.png);		
		}
		
		.pixels_portal
		{
			background-image: url(../_img/portalSprite_1x.png);
		}
		
		.pixels_forest
		{
			background-image: url(../_img/tile_pineTrees_1x.png);
		}
		
		.pixels_flowerLight
		{
			background-image: url(../_img/tile_flowersLight_1x.png);
		}
		
		.pixels_flowerHeavy
		{
			background-image: url(../_img/tile_flowersHeavy_1x.png);
		}
		
/*
		.pixels_flowerRichCross
		{
			background-image: url(../_img/tile_flowersRich_+_1x.png);
		}
*/
		
		.pixels_rain0
		{
			background-image: url(../_img/rain_0_1x.png);
		}
		
		.pixels_rain1
		{
			background-image: url(../_img/rain_1_1x.png);		
		}
		
		.pixels_rain2
		{
			background-image: url(../_img/rain_2_1x.png);		
		}
		
		.pixels_snow0
		{
			background-image: url(../_img/snow_0_1x.png);
		}
		
		.pixels_snow1
		{
			background-image: url(../_img/snow_1_1x.png);		
		}
		
		.pixels_snow2
		{
			background-image: url(../_img/snow_2_1x.png);	
		}
		
		.pixels_wind0
		{
			background-image: url(../_img/wind_0_1x.png);
		}
		
		.pixels_wind1
		{
			background-image: url(../_img/wind_1_1x.png);	
		}
		
		.pixels_wind2
		{
			background-image: url(../_img/wind_2_1x.png);		
		}
		
		.pixels_start
		{
			background-image: url(../_img/startSprite_1x.png);
		}
		
/*
		.pixels_colour-navPink
		{
			background-image: url(../_img/col_nav-pink_1x.png);
		}
*/
		
		.pixels_map_player
		{
			background-image: url(../_img/map_playerSprite_1x.png);
		}
		
/*
		.pixels_battleFlow
		{
			background-image: url(../_img/battleNavSprite_1x.png);				
		}
*/
		
		.pixels_map_enemy40x40
		{
			background-image: url(../_img/map_enemySprite40x40_1x.png);	
		}
		
		.pixels_portalScreen
		{
			background-image: url(../_img/tilePortalScreenLRG_1x.png);
		}
		
		.pixels_battleCloud
		{
			background-image: url(../_img/battleNavCloud_1x.png);
		}
		
/*
		.pixels_battleFlow
		{
			background-image: url(../_img/battleNavSprite_1x.png);			
		}
*/
		
		.pixels_warCrabs
		{
			background-image: url(../_img/tile_microBattle_bg_1x.png);
		}

		.pixels_warCrabsAlt
		{
			background-image: url(../_img/tile_microBattle_Alt_bg_1x.png);
		}
		
		.pixels_fire
		{
			background-image: url(../_img/flameSprite_1x.png);
		}
		
		.pixels_emptyDecay
		{
			background-image: url(../_img/microBattle_landPixelDecay_1x.png);
		}
		
		.pixels_emptyBottom
		{
			background-image: url(../_img/microBattle_bottomEnd_1x.png);
		}
		
		.pixels_tileNeonGrass
		{
			background-image: url(../_img/tile_neonGrass_1x.png);
		}
		
		.pixels_boss
		{
			background-image: url(../_img/bossSprite_1x.png);
		}
		
		.pixels_rainRed0
		{
			background-image: url(../_img/rainRed_0_1x.png);
		}
		
		.pixels_rainRed1
		{
			background-image: url(../_img/rainRed_1_1x.png);		
		}
		
		.pixels_rainRed2
		{
			background-image: url(../_img/rainRed_2_1x.png);		
		}
		
		.pixels_spaceStars_0
		{
			background-image: url(../_img/spaceStars_0_x1.png);
		}
		
		.pixels_spaceStars_1
		{
			background-image: url(../_img/spaceStars_1_x1.png);
		}
		
		.pixels_planetMask
		{
			-webkit-mask			: url(../_img/planetSprite_1x.png);
			
			mask					: url(../_img/planetSprite_1x.png);
		}
		
		.pixels_planetDisplay
		{
			background-image: url(../_img/planetSprite_1x.png);
		}
		
		.pixels_microBattleFloor
		{
			background-image: url(../_img/battleLevelFloor_1x.png);
		}
		
		.pixels_spaceSquid
		{
			background-image: url(../_img/spaceSquid_1x.png);
		}
		
/*
		.pixels_battleCrowd_sky
		{
			background-image: url(../_img/battleSky_1x.png);
		}
*/
		
/*
		.pixels_battleCrowd_goats
		{
			background-image: url(../_img/battleCrowdTile_goats_1x.png);
		}
*/
		
/*
		.pixels_battleCrowd_rabbits
		{
			background-image: url(../_img/battleCrowdTile_rabbits_1x.png);
		}
*/
		
		.pixels_battleEnd
		{
			background-image: url(../_img/battleEnd_1x.png);
		}
		
		.pixels_forestMassDark
		{
			background-image: url(../_img/tile_pineTreesMassDark_1x.png);	
		}
		
		.pixels_forestDark
		{
			background-image: url(../_img/tile_pineTreesDark_1x.png);
		}
		
		.pixels_flowerLightDark
		{
			background-image: url(../_img/tile_flowersLightDark_1x.png);
		}
		
		.pixels_flowerHeavyDark
		{
			background-image: url(../_img/tile_flowersHeavyDark_1x.png);
		}
		
		.pixels_battleNav-player
		{
			background-image: url(../_img/battleCuteFull_1x.png);
		}
		
		.pixels_levelClearing
		{
			background-image: url(../_img/levelClearing_1x.png);
		}						
	}


/* ----------------------------------------------------------------------- 1 PIXEL DEPTH */



/* ----------------------------------------------------------------------- 2 PIXEL DEPTH */

	@media all and (-webkit-min-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 2)
	{
		.pixels_landDecay
		{
			background-image: url(../_img/landPixelDecay_2x.png);
		}
		
		.pixels_woodlandBottom
		{
			background-image: url(../_img/bottomEnd_2x.png);
		}
		
		.pixels_forestMass
		{
			background-image: url(../_img/tile_pineTreesMass_2x.png);		
		}
		
		.pixels_portal
		{
			background-image: url(../_img/portalSprite_2x.png);
		}
	
		.pixels_forest
		{
			background-image: url(../_img/tile_pineTrees_2x.png);
		}
		
		.pixels_flowerLight
		{
			background-image: url(../_img/tile_flowersLight_2x.png);
		}
		
		.pixels_flowerHeavy
		{
			background-image: url(../_img/tile_flowersHeavy_2x.png);
		}
		
/*
		.pixels_flowerRichCross
		{
			background-image: url(../_img/tile_flowersRich_+_2x.png);
		}
*/
		
		.pixels_rain0
		{
			background-image: url(../_img/rain_0_2x.png);
		}
		
		.pixels_rain1
		{
			background-image: url(../_img/rain_1_2x.png);		
		}
		
		.pixels_rain2
		{
			background-image: url(../_img/rain_2_2x.png);		
		}
		
		.pixels_snow0
		{
			background-image: url(../_img/snow_0_2x.png);
		}
		
		.pixels_snow1
		{
			background-image: url(../_img/snow_1_2x.png);		
		}
		
		.pixels_snow2
		{
			background-image: url(../_img/snow_2_2x.png);	
		}
		
		.pixels_wind0
		{
			background-image: url(../_img/wind_0_2x.png);
		}
		
		.pixels_wind1
		{
			background-image: url(../_img/wind_1_2x.png);	
		}
		
		.pixels_wind2
		{
			background-image: url(../_img/wind_2_2x.png);		
		}
		
		.pixels_start
		{
			background-image: url(../_img/startSprite_2x.png);
		}
		
/*
		.pixels_colour-navPink
		{
			background-image: url(../_img/col_nav-pink_2x.png);
		}
*/
		
		.pixels_map_player
		{
			background-image: url(../_img/map_playerSprite_2x.png);
		}
		
/*
		.pixels_battleFlow
		{
			background-image: url(../_img/battleNavSprite_2x.png);				
		}
*/
		
		.pixels_map_enemy40x40
		{
			background-image: url(../_img/map_enemySprite40x40_2x.png);	
		}
		
		.pixels_portalScreen
		{
			background-image: url(../_img/tilePortalScreenLRG_2x.png);
		}
		
		.pixels_battleCloud
		{
			background-image: url(../_img/battleNavCloud_2x.png);
		}
		
/*
		.pixels_battleFlow
		{
			background-image: url(../_img/battleNavSprite_2x.png);			
		}
*/
		
		.pixels_warCrabs
		{
			background-image: url(../_img/tile_microBattle_bg_2x.png);
		}
		
		.pixels_warCrabsAlt
		{
			background-image: url(../_img/tile_microBattle_Alt_bg_2x.png);
		}
		
		.pixels_fire
		{
			background-image: url(../_img/flameSprite_2x.png);
		}
		
		.pixels_emptyDecay
		{
			background-image: url(../_img/microBattle_landPixelDecay_2x.png);
		}
		
		.pixels_emptyBottom
		{
			background-image: url(../_img/microBattle_bottomEnd_2x.png);
		}
		
		.pixels_tileNeonGrass
		{
			background-image: url(../_img/tile_neonGrass_2x.png);
		}
		
		.pixels_boss
		{
			background-image: url(../_img/bossSprite_2x.png);
		}
		
		.pixels_rainRed0
		{
			background-image: url(../_img/rainRed_0_2x.png);
		}
		
		.pixels_rainRed1
		{
			background-image: url(../_img/rainRed_1_2x.png);		
		}
		
		.pixels_rainRed2
		{
			background-image: url(../_img/rainRed_2_2x.png);		
		}
		
		.pixels_spaceStars_0
		{
			background-image: url(../_img/spaceStars_0_x2.png);
		}
		
		.pixels_spaceStars_1
		{
			background-image: url(../_img/spaceStars_1_x2.png);
		}
		
		.pixels_planetMask
		{
			-webkit-mask			: url(../_img/planetSprite_2x.png);
			
			mask					: url(../_img/planetSprite_2x.png);
		}
		
		.pixels_planetDisplay
		{
			background-image: url(../_img/planetSprite_2x.png);
		}
		
		.pixels_microBattleFloor
		{
			background-image: url(../_img/battleLevelFloor_2x.png);
		}
		
		.pixels_spaceSquid
		{
			background-image: url(../_img/spaceSquid_2x.png);
		}
		
/*
		.pixels_battleCrowd_sky
		{
			background-image: url(../_img/battleSky_2x.png);
		}
*/
		
/*
		.pixels_battleCrowd_goats
		{
			background-image: url(../_img/battleCrowdTile_goats_2x.png);
		}
*/
		
/*
		.pixels_battleCrowd_rabbits
		{
			background-image: url(../_img/battleCrowdTile_rabbits_2x.png);
		}
*/
		
		.pixels_battleEnd
		{
			background-image: url(../_img/battleEnd_2x.png);
		}
		
		.pixels_forestMassDark
		{
			background-image: url(../_img/tile_pineTreesMassDark_2x.png);	
		}
		
		.pixels_forestDark
		{
			background-image: url(../_img/tile_pineTreesDark_2x.png);
		}
		
		.pixels_flowerLightDark
		{
			background-image: url(../_img/tile_flowersLightDark_2x.png);
		}
		
		.pixels_flowerHeavyDark
		{
			background-image: url(../_img/tile_flowersHeavyDark_2x.png);
		}
		
		.pixels_battleNav-player
		{
			background-image: url(../_img/battleCuteFull_2x.png);
		}
		
		.pixels_levelClearing
		{
			background-image: url(../_img/levelClearing_2x.png);
		}										
	}

/* ----------------------------------------------------------------------- 2 PIXEL DEPTH */