@charset "UTF-8";

	
	/* ---------------------------------------- PIXELS */
	
	.pixels_battleEnd
	{
		background-image: url(../_img/battleEnd_1x.png);
		background-repeat: no-repeat;
		background-size: 534px 400px;
	}
	
	/* ---------------------------------------- PIXELS */
	
	
	
	
	/* ---------------------------------------- BATTLE END */
	
	.microBattle_resultWipe_fill
	{
		width: inherit;
		height: auto;
		
		display: block;
		
		position: absolute;
		
		left: 0; right: 0; top: 0; bottom: 0;
		
		margin: 0 auto;
		
		z-index: 1;
	}
	
	.microBattle_endSky
	{
		width: 100%;
		height: 240px;
		
		position: relative;
		
		overflow: hidden;
		
		z-index: 0;
	}
	
	.microBattle_endSky .microBattle_endSky_mountainL
	{
		width: 534px;
		height: inherit;
		
		position: absolute;
		
		left:0;
		bottom: 0;
		
		z-index: 1;
	}
	
	.microBattle_endSky .microBattle_endSky_mountainL .pixels_battleEnd
	{
		width: inherit;
		height: 110px;
		
		background-position: 0 -140px;
		
		position: absolute;
		
		left: 0;
		bottom: 0;
		
		z-index: 0;
	}
	
	
	.microBattle_endSky .microBattle_endSky_mountainC
	{
		width: 320px;
		height: inherit;
		
		position: absolute;
		
		left:0; right:0; top:0; bottom:0;
		
		margin: 0 auto;
		
		z-index: 1;
	}
	
	.microBattle_endSky .microBattle_endSky_mountainC .pixels_battleEnd
	{
		width: inherit;
		height: 80px;
		
		background-position: -160px -260px;
		
		position: absolute;
		
		left: 0;
		bottom: 0;
		
		z-index: 0;
	}
	
	.microBattle_endSky .microBattle_endSky_mountainR
	{
		width: 534px;
		height: inherit;
		
		position: absolute;
		
		right:0;
		bottom: 0;
		
		z-index: 1;
	}
	
	.microBattle_endSky .microBattle_endSky_mountainR .pixels_battleEnd
	{
		width: inherit;
		height: 110px;
		
		background-position: 0 -140px;
		
		position: absolute;
		
		left: 0;
		bottom: 0;
		
		z-index: 0;
	}

	.microBattle_endField
	{
		width: 100%;
		height: 100%;
		
		position: relative;
		
		background: #004753;
		
		margin: 0 auto;
		
		z-index: 1;
	}
	
	.microBattle_middleField
	{
		width: 320px;
		height: 100%;
		
		position: relative;
		
		/* background: #004753; */
		
		margin: 0 auto;
		
		z-index: 1;
	}
	
	/* CASTLE */
	
	.microBattle_middleField .microBattle_castle_wrapper
	{
		width: 100%;
		height: 135px;
		
		position: relative;
		
		margin: 0 auto;
	}
	
	.microBattle_castle
	{
		width: 40px;
		height: 135px;
	
		position: absolute;
		
		left: 0; right: 0; top: 0; bottom: 0;
		
		/* margin: 40px auto 0 auto; */
		
		margin: 0 auto;
		
		z-index: 0;
	}
	
	.microBattle_castle .microBattle_castle_tower
	{
		width: 40px;
		height: 120px;
		
		position: absolute;
		
		left: 0;
		bottom: 0;
		
		z-index: 1;
	}
	
	.microBattle_castle_tower_WIN
	{
		background-position: 0 -260px;
	}
	
	.microBattle_castle_tower_LOSE
	{
		background-position: -40px -260px;
	}
	
	.microBattle_castle .microBattle_castle_flag
	{
		width: 40px;
		height: 15px;
		
		background-position: -80px -260px;
		
		
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
		
		position: absolute;
		
		left: 0;
		top: 0;
		
		z-index: 0;
	}

	
	.microBattle_castle_flag_WIN
	{

	}
	
	.tween-microBattle_castle_flag
	{
		-webkit-transition	: -webkit-transform 0.6s ease 0.6s;
		transition			: transform 0.6s ease 0.6s;
	}
	
	.microBattle_castle_flag_LOSE
	{
		visibility: hidden;
	}
	
	.microBattle_castle_goat
	{
		width: 40px;
		
		position: absolute;
		
		left: 0;
		top: 0;
		
		z-index: 0;
		
		-webkit-transform: translateY(26px);
		transform: translateY(26px);		
	}
	
	.microBattle_castle_goat_sprite
	{
		width: 40px;
		height: 26px;
		
		position: relative;
		
		background-position: -120px -260px;
	}
	
	.microBattle_castle_goat_WIN
	{
	
	}
	
	.tween-microBattle_castle_goat
	{
		-webkit-transition	: -webkit-transform 0.4s ease;
		transition			: -webkit-transform 0.4s ease;
	}
	
	.microBattle_castle_goat_WIN > div
	{
		-webkit-animation	: tweenMicroBattleCastleGoatWinAmbFrames 0.8s linear infinite;
		animation			: tweenMicroBattleCastleGoatWinAmbFrames 0.8s linear infinite;
	}
	
	@-webkit-keyframes tweenMicroBattleCastleGoatWinAmbFrames
	{
		0%		{-webkit-transform: translateY(0px);}
		50%		{-webkit-transform: translateY(2px);}
		100%	{-webkit-transform: translateY(0px);}
	}
	
	@keyframes tweenMicroBattleCastleGoatWinAmbFrames
	{
		0%		{transform: translateY(0px);}
		50%		{transform: translateY(2px);}
		100%	{transform: translateY(0px);}
	}
	
	.microBattle_castle_goat_LOSE
	{
		visibility: hidden;
	}			
	
	/* ZOMBIE */
	.microBattle_middleField .microBattle_zombie_wrapper
	{
		width: 100%;
		height: 30px;
		
		position: relative;
	
		margin: 10px auto 0 auto;
	}
	
	.microBattle_zombie
	{
		width: 40px;
		
		position: absolute;
		
		left:0; right:0; top:0; bottom:0;
		
		margin: 0 auto;
	}
	
	.microBattle_zombie_WIN
	{
		visibility: hidden;
	}
	
	.microBattle_zombie_LOSE
	{
		-webkit-animation: tweenMicroBattleZombieFrames 0.3s linear infinite;
		animation: tweenMicroBattleZombieFrames 0.3s linear infinite;
	}
	
	@-webkit-keyframes tweenMicroBattleZombieFrames
	{
		0%		{-webkit-transform: translateX(0px);}
		25%		{-webkit-transform: translateX(-2px);}
		50%		{-webkit-transform: translateX(0px);}
		75%		{-webkit-transform: translateX(2px);}
		100%	{-webkit-transform: translateX(0px);}
	}
	
	@keyframes tweenMicroBattleZombieFrames
	{
		0%		{transform: translateX(0px);}
		25%		{transform: translateX(-2px);}
		50%		{transform: translateX(0px);}
		75%		{transform: translateX(2px);}
		100%	{transform: translateX(0px);}
	}
	
	.microBattle_zombie_walk
	{
		width: inherit;
		
		position: relative;
		
		-webkit-transform: translateY(0);
		transform : translateY(0);
	}
	
	.tween-microBattle_zombie_walk
	{
		-webkit-transition: -webkit-transform 2s ease-in;
		transition: -webkit-transform 2s ease-in;
	}
	
	.microBattle_zombie_sprite
	{
		width: 40px;
		height: 30px;
		
		position: relative;
	}
	
	.microBattle_zombie_LOSE .microBattle_zombie_sprite
	{ 
		-webkit-animation: tweenMicroBattleZombieSpriteFrames 0.2s steps(2) 0 infinite;
		animation: tweenMicroBattleZombieSpriteFrames 0.2s steps(2) 0 infinite;
	}
	
	@-webkit-keyframes tweenMicroBattleZombieSpriteFrames
	{
		from	{background-position: -120px -300px;}
		to		{background-position: -120px -360px;}
	}
	
	@keyframes tweenMicroBattleZombieSpriteFrames
	{
		from	{background-position: -120px -300px;}
		to		{background-position: -120px -360px;}		
	}	
	
	/* MOON-SUN */
	
	.microBattle_sunMoon
	{
		width: 140px;
		height: 140px;
		
		position: absolute;
		
		left:0; right:0; top:0; bottom:0;
		
		margin: 10px auto 0 auto;
		
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		
		z-index: 0;
	}
	
	.microBattle_sunMoon_WIN > div
	{
		background-position: 0 0;
	}
	
	.microBattle_sunMoon_LOSE > div
	{
		background-position: -140px 0;	
	}
	
	.microBattle_sunMoon_sprite
	{
		width: inherit;
		height: inherit;
		
		position: relative;
	}
	
	.tween-microBattle_sunMoon_sprite
	{
		-webkit-transition: opacity 1s ease, -webkit-transform 2s ease;
		transition: opacity 1s ease, transform 2s ease;
	}
	
	.microBattle_sunMoon_sprite_set
	{
		opacity: 0;
		
		-webkit-transform: translateY(100px);
		transform: translateY(100px);		
	}
	
	
	.microBattle_sunMoon_sprite_rise
	{
		opacity: 1;
		
		-webkit-transform: translateY(0px);
		transform: translateY(0px);		
	}
	
	.microBattle_growField
	{
		width: inherit;
		height: inherit;
		
		opacity: 0;
		
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		
		position: absolute;
		
		left:0; right:0; top:0; bottom:0;
		
		margin: 160px auto 0 auto;
		
		z-index: 2;
	}
	
	
	.microBattle_growField_WIN
	{
		-webkit-transition: opacity 0.6s ease 1.2s, -webkit-transform 0.8s ease 1.2s;
		transition: opacity 0.6s ease 1.2s, transform 0.8s ease 1.2s;
	}
	
	.microBattle_growField_LOSE
	{
		visibility: hidden;
	}	
	
	/* ---------------------------------------- BATTLE END */
	
	
	
	
	/* ---------------------------------------- RESPONSIVE */
	
	@media screen and (max-width:480px)
	{
		.microBattle_endSky
		{
			height: 180px;
		}
		
		.microBattle_sunMoon
		{
			-webkit-transform: translateX(0px);
			transform: translateX(0px);			
		}
		
		.microBattle_sunMoon_sprite_rise
		{
			-webkit-transform: translateY(-160px);
			transform: translateY(-160px);			
		}
	}	
	
	/* ---------------------------------------- RESPONSIVE */
	
	
	


/*
	#game_menu
	{
		width: 100%;
		height: 8%;
		
		max-height: 40px;
		
		position: absolute;
		
		bottom: 0;
		
		background: #fff;
		
		font-size: 1em;
		
		z-index: 1;
	}
	
	.game_menu_content
	{
		width: 80%;
		
		position: relative;
		
		margin: 10px auto 0 auto;
	}
*/
	
	
	
  
		
	
	
/*
	.filler
	{
		background-image: url(../_img/_test.png);
		background-repeat: repeat;
		background-size: 320px 320px;
		background-position: center top;
	}
*/
	
	.microBattle_darkness_crowd_wrapper_40x40
	{
		width: inherit;
		height: 40px;
		
		position: absolute;
		
		bottom: 0;
		
		z-index: 1;
	}
	
	.microBattle_darkness_crowd_main_40x40
	{
		width: 320px;
		height: 40px;
		
		position: relative;
		
		margin: 0 auto;
		
		-webkit-transform	: translateY(40px);
		transform			: translateY(40px);
		
	}
	
	.tween-microBattle_darkness_crowd_main_40x40
	{
		-webkit-transition: -webkit-transform 0.1s ease-in-out;
		transition: transform 0.1s ease-in-out;
	}
	
	.microBattle_darkness_crowd_sprite_40x40
	{
		width: 40px;
		height: 40px;
		
		position: relative;
		
		display: block;
		
		float: left;
	}
	
	
	.pixels_portalSnow
	{
		background-image: url(../_img/portalSpriteSnow_1x.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 80px 320px;
	}
	
	.pixels_forestMassSnow
	{
		background-image: url(../_img/tile_snowTreesMass_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;		
	}
	
	.pixels_forestSnow
	{
		background-image: url(../_img/tile_pineTreesSnow_1x.png);
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerLightSnow
	{
		background-image: url(../_img/tile_flowersLightSnow_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerHeavySnow
	{
		background-image: url(../_img/tile_flowersHeavySnow_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerRichCrossSnow
	{
		background-image: url(../_img/tile_flowersRich_+Snow_1x.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 120px 120px;
	}
	
	.field-floor-snow
	{
		background: #fff;
	}
	
	.pixels_portalFire
	{
		background-image: url(../_img/portalSpriteFire_1x.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 80px 320px;
	}
	
	.pixels_forestMassFire
	{
		background-image: url(../_img/tile_pineTreesMassFire_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 240px 240px;		
	}
	
	.pixels_forestFire
	{
		background-image: url(../_img/tile_pineTreesFire_1x.png);
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerLightFire
	{
		background-image: url(../_img/tile_flowersLightFire_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerHeavyFire
	{
		background-image: url(../_img/tile_flowersHeavyFire_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerRichCrossFire
	{
		background-image: url(../_img/tile_flowersRich_+Fire_1x.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 120px 120px;
	}	
	
	.field-floor-fire
	{
		background: #20202a;
	}	


	

	

	
	
	
	

	
	
	
	